html
{
    width: 100%;
    height: 100%;
}

body
{
    background-image: url("../images/StarWarsBG.jpg");
    width: 100%;
    height: 100%;
    margin: 5px;
}

h1
{
    clear: both;
    font-size: 36px;
    color: white;
}

.characters
{
    width: 150px;
    height: 150px;
    padding-left: 12px;
}

.charContainer
{
    width: 175px;
    height: 175px;
    padding: 15px;
    border: 2px solid green;
    margin: 15px;
    z-index: 1;
    float: left;
    position: relative;
    background-color: black;
}
.defenderContainer
{
    width: 175px;
    height: 175px;
    padding: 15px;
    border: 2px solid green;
    margin: 15px;
    z-index: 1;
    float: left;
    position: relative;
    background-color: black;
}

.selectedCharContainer
{
    width: 175px;
    height: 175px;
    padding: 15px;
    border: 2px solid green;
    margin: 15px;
    z-index: 1;
    float: left;
    position: relative;
    background-color: black;
}

.name, .health
{
    z-index: 10;
    color: white;
    padding-left: 65px;
}

.opponentHealth
{
    z-index: 10;
    color: white;
    padding-left: 65px;
}

#captainPhasma
{
    padding-left: 40px;
}


#selection-area
{
    width: 75%;
    margin: auto;
    height: auto;
    /*background-color: #d6bf81;*/
}

#selection-area h1
{
    text-align: center;
}

#char1
{

}

#char2
{

}

#char3
{

}

#char4
{

}

#attack-area
{
    clear: both;
    margin: 15px;
    float: left;
}

#attack-btn
{
    background-color: #b7000c;
    color: white;
    display: block;
    clear: both;
    margin-left: 38%;
}

#defender-area
{
    margin: 15px;
    float: right;
}

#defenders-selection
{
    width: 50%;
    height: 50%;
    margin: auto;
    clear: both;
}
#defenders-selection h1
{
    text-align: center;
}

#gameOver
{
    width: 50%;
    margin: auto;
    text-align: center;
}

#gameOverText,
{
    font-size: 38px
}

#reset
{
    background-color: #0088e2;
    text-align: center;
    font-size: 24px;
}

